.card{
  min-height: 200px;
}
.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  opacity: .5;

 }

.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

}

.card-img-wrapper
{
  overflow: hidden;
  position: relative;
}

.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons
{
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}

img{
  width: 17rem;
  height: 20rem;
}

.card-body h2, h4 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0069d9;
}

.PostedOn{
  color: gray;
  display: block;
}
.font-highlight {
  font-style: italic;
  color: red;
}
