<div class="row">
  <div class="col-7 shadow-lg p-2">
    <div class="card mx-auto ">
      <div class="card-header pt-2">Add New Property</div>
      <div class="card-body">
        <div class="">
          <form (submit)="onSubmit()" [formGroup]="addPropertyForm">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic info" formGroupName="BasicInfo">
                <div class="form-group mt-1">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent" required>
                    <label class="btn btn-outline-primary mr-2" btnRadio="1" role="button" name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary" btnRadio="2" role="button" name="SellRent">Rent</label>

                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    Please select sell or rent
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK" [(ngModel)]="propertyView.BHK" name="BHK">
                    <label *ngFor="let bhk of ['1','2','3','4']" class="btn btn-outline-primary mr-2" [btnRadio]="bhk"
                      tabindex="0" role="button" name="BHK">
                      {{bhk}}
                    </label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    Please select BHK
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName='PropertyType'
                    [(ngModel)]="propertyView.PropertyType">
                    <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mr-2" [btnRadio]="ptype"
                      tabindex="0" role="button" name="PropertyType">{{ptype}}
                    </label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    Please select property type
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FurnishingType"
                    [(ngModel)]="propertyView.FurnishingType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mr-2" [btnRadio]="ftype"
                      tabindex="0" role="button" name="FurnishingType">
                      {{ftype}}
                    </label>
                  </div>
                  <div class="error-block" *ngIf="FurnishingType.invalid && nextClicked">
                    Please select furnishing type
                  </div>
                </div>
                <div class="form-group col-12">
                  <label>in Building/Society/Project</label>
                  <input type="text" class="form-control" ngModel formControlName="Name"
                    [(ngModel)]="propertyView.Name">
                  <div class="error-block"
                  *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    Please select building, society or project name
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>City</label>
                  <input type="text" class="form-control" formControlName="City" [(ngModel)]="propertyView.City">
                  <div class="error-block"
                  *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please select city
                  </div>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block w-100 mr-1"
                    (click)="selectTab(1, BasicInfo.valid)">Next
                  </button>
                  nextclicked = {{nextClicked}}<br />sellrentvalidation = {{SellRent.valid}}
                </div>
              </tab>
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in INR)</label>
                  <label *ngIf="SellRent.value==2">Rent (in INR)</label>
                  <input type="text" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price">
                  <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    Please select
                    <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>

                <div *ngIf="SellRent.value==2">
                  <div class="form-group col-12" >
                    <label>Security (in INR)</label>
                    <input type="text" formControlName="Security" class="form-control" required>
                    <div class="error-block" *ngIf="Security.invalid && nextClicked">
                      Please enter required information
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>Maintenance (in INR)</label>
                    <input type="text" formControlName="Maintenance" class="form-control" required>
                    <div class="error-block" *ngIf="Maintenance.invalid && nextClicked">
                      Please select required information
                    </div>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" [(ngModel)]="propertyView.BuiltArea"
                    formControlName="BuiltArea">
                  <div class="error-block" *ngIf="BuiltArea.invalid && nextClicked">
                    Please select built up area
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area (in Sqr Feet)</label>
                  <input type="text" formControlName="CarpetArea" class="form-control" required>
                  <div class="error-block" *ngIf="CarpetArea.invalid && nextClicked">
                    Please select carpet area
                  </div>
                </div>

                <div class="form-group col-12 text-center">
                  <button type="button" class="btn btn-primary tabButton"
                    (click)="selectTab(2, PriceInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(0, PriceInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Address" formGroupName="AddressInfo">

                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" formControlName="FloorNo" class="form-control" required>
                  <div class="error-block" *ngIf="FloorNo.invalid && (nextClicked || FloorNo.touched)">
                    Please enter this field data
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" formControlName="TotalFloor" class="form-control" required>
                  <div class="error-block" *ngIf="TotalFloor.invalid && (nextClicked || TotalFloor.touched)">
                    Please enter this field data
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div class="error-block" *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    Please enter address
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" formControlName="LandMark" class="form-control" required>
                  <div class="error-block" *ngIf="LandMark.invalid && (nextClicked || LandMark.touched)">
                    Please enter Landmark
                  </div>
                </div>

                <div class="form-group col-12 text-center">
                  <button type="button" class="btn btn-primary tabButton"
                    (click)="selectTab(3, AddressInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(1, AddressInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="ReadyToMove">
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button"
                      name="ReadyToMove">Yes
                    </label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button" name="ReadyToMove">No
                    </label>
                  </div>
                  <div class="error-block" *ngIf="ReadyToMove.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>


                <div *ngIf="ReadyToMove.value==2" class="form-group col-6">
                  <label>Possession/Avaialble From</label>
                  <input type="text" class="form-control" formControlName="PossessionOn" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue',
                dateInputFormat: 'DD-MM-YYYY'}">
                </div>

                <div *ngIf="ReadyToMove.value==1" class="form-group col-3">
                  <label>Age of Property</label>
                  <input type="text" formControlName="AOP" class="form-control">
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button"
                      name="Gated">Yes</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button" name="Gated">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button"
                      name="Entrance">East</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button"
                      name="Entrance">West</label>
                    <label class="btn btn-outline-primary" btnRadio=3 tabindex="0" role="button"
                      name="Entrance">South</label>
                    <label class="btn btn-outline-primary" btnRadio=4 tabindex="0" role="button"
                      name="Entrance">North</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" formControlName="Description" rows="6"></textarea>
                </div>

                <div class="form-group text-center">
                  <button type="button" class="btn btn-primary tabButton"
                    (click)="selectTab(4, OtherInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(2, OtherInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div>
                <div class="form-group text-center">
                  <button type="button" class="btn btn-primary tabButton" (click)="selectTab(3, true)">Back</button>
                  <button class="btn btn-warning" type="reset">Cancel</button> <br />
                  <button class="btn btn-outline-success text-center mt-2 fw-bold col-6" type="submit">Submit</button>
                </div>
              </tab>
            </tabset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header border-1">
      <h3>Your Property Preview</h3>
    </div>
    <div class="p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
  </div>
</div>
